// Import polices
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;300;400;500;700;900&display=swap');

// Colors 
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// HTML & body
html, body {
    font-family: 'Roboto';
    width: 100%;
    margin:0;
}

// Header
.header {
    box-shadow: 0 4px 2px -2px lightgray;
    padding: 0.5rem 0 0.5rem 0;
    position: relative;
    z-index: 1;
    
    &__title {
        
        margin: 0;
        text-align: center;
        a {
            color: black;
            text-decoration: none;
            font-family: "Shrikhand";
        }
    }

    &__previous {
        position: absolute;
        left: 1rem;
        top: 1.35rem;
        color: #353535;
    }

}

// Footer
.footer {

    background-color: #353535;
    padding: 1.5rem 1rem 1rem 1.5rem;

    &__title {
        font-family: "Shrikhand";
        color: white;
        padding-top: 5rem;
        font-size: 1.3rem;
    }

    &__list {
        padding:0;
        list-style: none;

        &__element {

            padding-bottom: 0.5rem;

            &__link {
                color: white;
                text-decoration: none;
            }
        }
    }
}

// Common button
@mixin commonbutton {
    color: white;
    background: $color-secondary;
    background: linear-gradient(180deg, $color-secondary 2%, $color-primary 84%);
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2);

    &:hover {
        filter: brightness(125%);
    }
}

// Like button
@mixin emptylike {
    margin: 1.5rem;
    color: #4A4A4A;
    position: absolute;
    
    &:hover {
        -webkit-animation: scale 1s ease-out;
        animation-fill-mode: forwards;
    }
}

@mixin filledlike {
    margin: 1.5rem;
    position: absolute;
    background: linear-gradient(180deg, $color-primary 25%, $color-secondary 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
